In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [10]:
data = pd.read_csv("f1_drivers.csv")

In [11]:
data.drop(['Age\n','Constructor\n','Poles \n', 'Wins\n', 'Podiums\n', 'F. Laps \n','% Points \n', 'Points \n', 'Clinched\n', 'Margin\n','% Margin \n' ], axis=1, inplace=True)

In [13]:
data.columns=['season', 'Driver' , 'Constructor' ]

In [16]:
data.drop([0,72,73], inplace=True)

In [17]:
data

   season              Driver Constructor
1    1950     Giuseppe Farina  Alfa Romeo
2    1951  Juan Manuel Fangio  Alfa Romeo
3    1952      Alberto Ascari     Ferrari
4    1953      Alberto Ascari     Ferrari
5    1954  Juan Manuel Fangio    Maserati
..    ...                 ...         ...
67   2015      Lewis Hamilton    Mercedes
68   2016        Nico Rosberg    Mercedes
69   2017      Lewis Hamilton    Mercedes
70   2018      Lewis Hamilton    Mercedes
71   2019      Lewis Hamilton    Mercedes

[71 rows x 3 columns]

In [19]:
dff = data.groupby('Driver').head(71).reset_index(drop=True)

In [20]:
dff['freq'] = dff.groupby('Driver')['Driver'].transform('count')

In [22]:
dff.sort_values(by=['freq'], ascending=False, inplace=True)

In [23]:
dff_unique = dff.drop_duplicates(subset=['Driver'])

In [24]:
dff_unique.reset_index(drop=True, inplace=True)

In [28]:
dff.sort_values(by=['season'], inplace=True)

In [37]:
dff = dff.head(70)

In [39]:
dff

   season              Driver Constructor  freq
0    1950     Giuseppe Farina  Alfa Romeo     1
1    1951  Juan Manuel Fangio  Alfa Romeo     5
2    1952      Alberto Ascari     Ferrari     2
3    1953      Alberto Ascari     Ferrari     2
4    1954  Juan Manuel Fangio    Maserati     5
..    ...                 ...         ...   ...
66   2015      Lewis Hamilton    Mercedes     6
67   2016        Nico Rosberg    Mercedes     1
68   2017      Lewis Hamilton    Mercedes     6
69   2018      Lewis Hamilton    Mercedes     6
70   2019      Lewis Hamilton    Mercedes     6

[70 rows x 4 columns]

In [40]:
dff.to_csv('most_drivers_constructors.csv')

In [26]:
dff_unique.to_csv('most_driver.csv')