In [529]:
import pandas as pd
import sklearn
import numpy as np

In [530]:
df = pd.read_csv('/home/moritz/Desktop/Datasets/diamonds.csv', index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [531]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [532]:
# df['cut'].astype('category').cat.codes
# we should use above code to convert categorical data, 
# but since this is a regression problem its no preferred coz it 
# assigns random value, in classification this is ok. 
#the preferred thing is to categorize on the basis that would have some meaning.

In [533]:
import sklearn
df = sklearn.utils.shuffle(df)

In [534]:
X= (df.iloc[:, [0,4,5,7,8,9]].values).astype('float')
y = df.iloc[:,6].values.astype('float')
X_=(df.iloc[:,[1,2,3]].values)

In [535]:
X=pd.DataFrame(X)
X_=pd.DataFrame(X_)
y=pd.DataFrame(y)

In [536]:
X.head()

      0     1     2     3     4     5
0  1.16  62.4  57.0  6.71  6.75  4.20
1  1.26  61.7  56.0  6.96  6.98  4.30
2  0.85  63.6  57.0  6.01  5.94  3.80
3  1.44  63.2  54.8  7.18  7.21  4.54
4  1.00  58.7  62.0  6.60  6.51  3.85

In [537]:
X_.head()

         0  1     2
0    Ideal  I   SI1
1    Ideal  G  VVS1
2     Good  J   VS1
3     Good  G    I1
4  Premium  F   VS2

In [538]:
df.head()

       carat      cut color clarity  depth  table  price     x     y     z
11869   1.16    Ideal     I     SI1   62.4   57.0   5107  6.71  6.75  4.20
23211   1.26    Ideal     G    VVS1   61.7   56.0  11218  6.96  6.98  4.30
51424   0.85     Good     J     VS1   63.6   57.0   2372  6.01  5.94  3.80
14863   1.44     Good     G      I1   63.2   54.8   5987  7.18  7.21  4.54
14988   1.00  Premium     F     VS2   58.7   62.0   6037  6.60  6.51  3.85

In [539]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [540]:
# renaming columns
# df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

X_.rename(columns={0:6,1:7,2:8}, inplace=True)

In [541]:
all_together =pd.concat([X,X_],axis=1)

In [542]:
all_together.head()

      0     1     2     3     4     5        6  7     8
0  1.16  62.4  57.0  6.71  6.75  4.20    Ideal  I   SI1
1  1.26  61.7  56.0  6.96  6.98  4.30    Ideal  G  VVS1
2  0.85  63.6  57.0  6.01  5.94  3.80     Good  J   VS1
3  1.44  63.2  54.8  7.18  7.21  4.54     Good  G    I1
4  1.00  58.7  62.0  6.60  6.51  3.85  Premium  F   VS2

In [543]:
y.head()

         0
0   5107.0
1  11218.0
2   2372.0
3   5987.0
4   6037.0

In [544]:

object_cols = [col for col in all_together.columns if all_together[col].dtype == "object"]

object_cols

[6, 7, 8]

In [545]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train ,y_test = train_test_split(all_together, y,test_size=0.2)

In [546]:
X_test.head()

          0     1     2     3     4     5        6  7     8
6861   0.31  62.4  59.0  4.34  4.31  2.70  Premium  H   VS2
5831   1.56  60.4  56.0  7.51  7.55  4.55    Ideal  G   SI1
777    0.53  62.3  56.0  5.24  5.20  3.25    Ideal  F  VVS2
45841  0.44  62.2  60.0  4.86  4.79  3.00  Premium  E   SI1
50613  0.33  63.1  56.0  4.38  4.40  2.77     Good  I   VS1

In [547]:
X_train.head()

          0     1     2     3     4     5          6  7     8
8886   2.01  62.3  59.0  8.01  7.97  4.98    Premium  I   SI2
38412  0.71  61.7  56.0  5.78  5.80  3.57      Ideal  E  VVS2
1541   0.77  59.3  56.0  5.98  6.03  3.56       Good  F   VS1
30202  0.30  59.5  60.0  4.39  4.45  2.63  Very Good  J   VS1
16433  0.82  62.5  56.0  5.99  6.04  3.76  Very Good  G   SI2

In [548]:
y_train

             0
8886   12182.0
38412   4447.0
1541    3393.0
30202    427.0
16433   2893.0
...        ...
29392   5924.0
28058   4898.0
15968   1066.0
39393    537.0
33496    526.0

[43152 rows x 1 columns]

In [549]:
for col in object_cols:
    X_train[col] = label_encoder.fit_transform(X_train[col])
    X_test[col] = label_encoder.transform(X_test[col])

/home/moritz/anaconda3/envs/MassiveAi/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/moritz/anaconda3/envs/MassiveAi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [550]:
X_test.head()

          0     1     2     3     4     5  6  7  8
6861   0.31  62.4  59.0  4.34  4.31  2.70  3  4  5
5831   1.56  60.4  56.0  7.51  7.55  4.55  2  3  2
777    0.53  62.3  56.0  5.24  5.20  3.25  2  2  7
45841  0.44  62.2  60.0  4.86  4.79  3.00  3  1  2
50613  0.33  63.1  56.0  4.38  4.40  2.77  1  5  4

In [551]:
y_test.head()

             0
6861     628.0
5831   13724.0
777     2045.0
45841   1040.0
50613    521.0

In [552]:
from sklearn.svm import SVR
model = SVR(kernel='linear')

model.fit(X_train, y_train)

/home/moritz/anaconda3/envs/MassiveAi/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [553]:

acc = model.score(X_test, y_test)

In [554]:
print(acc)

0.78642738157075

In [555]:

from sklearn.ensemble import RandomForestRegressor
random_model = RandomForestRegressor(n_estimators=50)

random_model.fit(X_train, y_train)

/home/moritz/anaconda3/envs/MassiveAi/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [556]:
acc=random_model.score(X_test, y_test)
print(acc)

0.9819245615665982

In [557]:
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression().fit(X_train, y_train)

In [558]:
predicted=pd.DataFrame(lin_model.predict(X_test))

In [559]:
y_test

             0
6861     628.0
5831   13724.0
777     2045.0
45841   1040.0
50613    521.0
...        ...
27474    540.0
33369   5863.0
29200   1668.0
13760    645.0
34738    566.0

[10788 rows x 1 columns]

In [560]:
predicted

                 0
0       -84.443468
1      9953.669838
2      2611.875462
3       614.286062
4      -440.706849
...            ...
10783  -188.452824
10784  4708.463260
10785  2322.894407
10786   356.817586
10787  -743.061414

[10788 rows x 1 columns]